services:
  flask-app:
    image: 879381241087.dkr.ecr.ap-south-1.amazonaws.com/nov25-class5:2.0
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - DATABASE_URL=postgresql://postgres:Admin123@nov25-class5.cvik8accw2tk.ap-south-1.rds.amazonaws.com:5432/postgres
    restart: unless-stopped
    networks:
      - app-nw

  nginx:
    image: nginx:latest
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl/cert.pem:/etc/nginx/ssl/cert.pem:ro
      - ./ssl/key.pem:/etc/nginx/ssl/key.pem:ro
    depends_on:
      - flask-app
    restart: unless-stopped
    networks:
      - app-nw


networks:
  app-nw: